* {
  font-family: sans-serif;
  margin: 0;
}

body {
  --bg-color:#00796B;
  --color-primary: #0eecaa;
  --color-secondary:black;
  --color-thrid: #26A69A;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}

select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.1rem;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background: none;
}

img {
  width: 100%;
  max-height: 50vh;
  border-radius: 15px;
}

.container {
  width: 65%;
  max-width: 100%;
  margin: 1rem;
  padding: 2rem;
  border-radius: 25px;
  background: var(--color-thrid);
}

header {
  text-align: center;
  font-size: 16pt;
  margin-bottom: 20px;
}

.kotak1 {
  background-color: var(--color-primary);
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid var(--bg-color);
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  margin-bottom: 5px;
}

.kotak2 {
  border: 1px solid var(--color-secondary);
  border-radius: 15px;
  max-height: 70vh;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
